{{>layout/header}}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>This is KGC's Game Posting site</h1><br />
								<p>You can share you game experience with others any time in here!</p>
							</header>
							<section class="tiles">
							
								<article class="style7">
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<a href="/generic">
										<h2>Title</h2>
										<div class="content">
											<p>content?</p>
										</div>
									</a>
								</article>
								
							</section>
						</div>
					</div>

{{>layout/footer}}