{{>layout/header}}

<div id="main">
	<div class="inner">
		<table class="alt">
			<tr>
		        <th>Post Num : &nbsp;{{post.id}}</th>
		     
		        <th>Writer : &nbsp;{{post.author}}</th>
		     
		        <th>views : &nbsp;{{post.hit}}</th>
		     </tr>
    	</table>
        <p><h3>{{post.title}}</h3></p>
    
   	<blockquote>{{post.content}}</blockquote>
  
	<a id = "btn-check" class="button primary">edit</a> &nbsp;&nbsp;&nbsp;
	<a href="/" class="button">cancel</a>
	
	</div>
</div>

{{>layout/footer}}