{{>layouts/header}}				
<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Posting</h1><br />
								<p>Pleas write down your story</p>
							</header>
							<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										</br>
										<div class="field">
											<textarea rows="5" name="content" id="content" placeholder="content"></textarea>
										</div>
									</div>
						</div>
					</div>

{{>layouts/footer}}